extends layout.pug

block content
  main
    section.search-page
      div(class='search-page__wrapper')
        h1 Поиск
        div(class='search search-page__form')
          form(action='/search' method='get')
            label
              input(type='text' name='search' placeholder='Что ищем?')
            button(class='search__button button button--transparent' type='submit') Найти
          each result in results
            div(class='search__result')
              time(class='search__date' datetime='2019-03-21T20:33') #{formatShortDate(result.createdAt)}
              a(class='search__link') #{result.title}
